.visible{
    visibility: visible;
}

.invisible{
    position: absolute;
    visibility: hidden;
}

#seccionPrincipal{
    width: 45%;
    background-color: lightgreen;
    float: left;
    height: 50%;
}

#seccionDos{
    width: 45%;
    border: 1px solid black;
    float: right;
    height: 50%;
    overflow: auto;
    position: absolute;
    margin-left: 45%;
}

body{
    margin-left: 5%;
    margin-right: 5%;
}

#seccionTres{
    width: 90%;
    border: 1px solid black;
    position: absolute;
    top: 58%;
    padding-bottom: 15%;
    text-align: center;
    color: red;
    font-size: 30px;
}



.span .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: rgb(238, 179, 17);
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 10px 0;
    position: absolute;
    z-index: 1;
    left: 0%;
    top: 11%;
}

.span:hover .tooltiptext {
    visibility: visible;
}


